.filterBtn:hover .filters {
}
.sorts div {
}
.sortBtn:hover .sorts {
}
.wrapperForm >h1 {
   color: rgb(45, 93, 147);
}
.wrapperForm {
}
.wrapperBtn {
}
.defaultBtn {
}
.submBtn {
}
.cancelBtn {
}
.inputText {
}
.inputTextDescr {

}
.radioBtns {
}
.radioBtns >label {
   margin-left: 6px;
}
.error{
}
.error >p {
   margin: 2px;
}
.submBtn:disabled {
   opacity: 0.2;
}




.jopa{
   color: #0c371e;
}