
.filterSortBtns { 
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}
.filterBtn {
   background-color: rgb(249,206,223);
   color: rgb(135, 65, 93);
   border-radius: 20px;
   text-align: center;
   margin: 10px;
   padding: 8px 14px;
   cursor: pointer;
   border: none;
}
.filters {
   display: none;
   width:max-content;
   margin: 9px auto 9px;
   background-color: rgb(249,206,223);
   border-radius: 5px;
}
.filters div {
   padding: 4px;
}
.filterBtn:hover .filters {
   display:flex;
   flex-direction: column;
   justify-content: flex-start;
   position:absolute;
   right: 7%;
   z-index: 10;
}
.sortBtn {
   background-color: rgb(140,187,241);
   color: rgb(45, 93, 147);
   border-radius: 20px;
   text-align: center;
   margin: 10px;
   padding: 8px 14px;
   cursor: pointer;
   border: none;
}
.sorts {
   display: none;
   width:max-content;
   margin: 4px auto 4px;
   background-color: rgb(140,187,241);
   border-radius: 5px;
}
.sorts div {
   padding: 5px;
}
.sortBtn:hover .sorts {
   display:flex;
   flex-direction: column;
   justify-content: flex-end;
   position:absolute;
   margin-top:10px;
   right: 0%;
   z-index: 10;
}
.wrapperForm >h1 {
   color: rgb(45, 93, 147);
}
.wrapperForm {
   width: 50%;
   font-family: "Gill Sans", sans-serif;
   background-color: rgb(255, 255, 255);
   padding: 10px;
   border-radius: 10px;
}
.wrapperBtn {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-top: 12px;
}
.defaultBtn {
   color: rgb(45, 93, 147);
   padding: 7px 25px;
   border-radius: 20px;
   border-color:  rgb(45, 93, 147);
   font-family: "Gill Sans", sans-serif;
}
.submBtn {
   background-color: rgba(140, 187, 241, 0.612);
   margin-left: 10px;
}
.cancelBtn {
   background-color: rgba(140, 187, 241, 0.218);
}
.inputText {
   background-color: rgb(253,253,255);
   border-color: rgb(140,187,241);
   box-sizing: border-box;
   border-radius: 8px;
   width: 100%;
   padding: 6px 10px;
   font-family: "Gill Sans", sans-serif;
}
.inputTextDescr {
   background-color: rgb(253,253,255);
   box-sizing: border-box;
   border-color: rgb(140,187,241);
   width: 100%;
   height: 100px;
   border-radius: 8px;
   padding: 6px 10px;
   font-family: "Gill Sans", sans-serif;
}
.radioBtns {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}
.radioBtns >label {
   margin-left: 6px;
}
.error{
   padding: 2px;
   color: rgb(232, 78, 86);
   font-size: 10px;
}
.error >p {
   margin: 2px;
}
.submBtn:disabled {
   opacity: 0.2;
}
