.allsidebar {
   padding: 30px 40px;
   background-color: rgba(105, 201, 164, 0.484);
}
.menu{
   list-style-type: none;
}
.menu>li{
   padding-top: 40px;
}
.menu >li>a {
   text-decoration: none;
   color: rgb(104, 104, 104);
   font-size: 25px;
}
