.allsidebar {
   height: 100vh;
   padding: 30px 40px;
   background-color: rgba(140, 187, 241);
   font-family: "Gill Sans", sans-serif;
}
.menu{
   list-style-type: none;
}
.menu>li{
   padding-top: 40px;
}
.menu >li>a {
}
 .wrapper {
   border-radius: 10px;
}
.title{
}
.buttonsWrapper {
}
.doneBtn {
}
.deleteBtn {
}
.deleteBtn:disabled {
   cursor: not-allowed;
}
.infoBtn {
}
.editBtn{
}
.description {
}
.infoBtn:hover .description {
}
.doneTask { 
}
.deletedTask {
}
.btnNotAllowed {
}
.modal {
}
