.allsidebar {
   min-height: 1200px;
   padding: 30px 40px;
   background-color: rgba(140, 187, 241);
}
.menu{
   list-style-type: none;
}
.menu>li{
   padding-top: 40px;
}
.menu >li>a {
   text-decoration: none;
   color: rgb(253, 253, 255);
   font-size: 25px;
}
