.content {
   grid-area: content;
   background-color: rgba(189, 183, 183, 0.993);
}
.sidebar{
   grid-area: sidebar;
   

}
.app{
   display: grid;
   grid-template-columns: 3fr 10fr;
   grid-template-areas: 
    "sidebar content content";
}

